
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginViewModel
<div id="login_main" class="container p-5 mt-5">
        <form id="login_form" asp-action="Login" asp-controller="Account" method="post">
            <div class="mb-3 text-danger" asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="@Model.Email">Email</label>
                <input type="text" class="form-control" asp-for="@Model.Email"/>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="@Model.Password">Şifre</label>
                <input type="password" class="form-control" asp-for="@Model.Password"/>
            </div>
        <button id="login_submit" type="submit" class="btn btn-outline-light">Submit</button>
        </form>
</div>

@section Scripts {
    <style>
        #login_main {
            display:flex;
            justify-content:center;
            align-items:center;
            background-color: #222222;
            width:30%;
        }
        #login_form {
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
        }


    </style>
}