@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Post
<div id="view_main" class="container mt-1  rounded shadow p-3 mb-4">
    <div id="view_categories" style=";">
        @foreach (var category in Model.Categories)
        {
            <div class="shadow p-3 pb-0">
                <p id="view_post_category" class="text-muted">#@category.Name</p>
            </div>
        }
    </div>
    <div id="view_post_title" class="mb-5">
        <h1>@Model.Title</h1>
        <a id="edit_link" asp-action="Edit" asp-route-id="@Model.Id">
            <i id="edit_icon" class="bi bi-pen-fill"></i>
        </a>
    </div>
    <div id="view_post_content" class="mb-5 p-4">
        @Html.Raw(Model.Content)
    </div>
</div>

@section Scripts {
    <style>
        #view_post_title {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            #view_post_title h1 {
                font-weight: bold;
            }

        #view_post_content {
            background-color: #1e1e1e;
        }

        #view_main {
            width: 70%;
            background-color: #222222;
        }

        #view_categories {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #edit_icon {
            padding: 20px;
        }

        #edit_link {
            color: inherit;
        }
    </style>
}